< <div class="container mt-5">
    <div class="row">
        <div class="col-md-3 bg-white mt-5">
            <h1>HEALTH</h1>
            <p>According to the World Health Organization, health is “a state of complete physical, mental and 
                social well-being and not merely the absence of disease or infirmity.” The apparent fullness of
                 this definition carries a powerful intuitive appeal</p>
        </div>
        <div class="col-md-6 bg-white mt-5">
            <h1>CARE</h1>
            <p>Advances in technology have a big impact on the way Healthcare professionals work.
                 Right now, telemedicine is helping patients in remote areas to access care. 
                 Artificial intelligence is improving documentation and streamlining
                 scheduling. And mobile technology is giving patients the chance to manage their health on the go.</p>
        </div>
        <div class="col-md-3 bg-white mt-5">
            <h1>MEDICINE</h1>
            <p>Medicine is the field of health and healing. It includes nurses, doctors, 
                and various specialists. It covers diagnosis, treatment, and prevention of disease,
                 medical research, and many other aspects of health.

                </p>
        </div>
    </div>
    </div><br>
    <div class=" col-md-6 container card card-body bg-light" style="border: blue;">
        <h1>CONTACT US BELOW </h1>
        
        <td> 8907658765</td>
        <td> 9675476587</td>
        <h1>EMAIL ID</h1>
        <td>abc@xyz.com</td>
        <td>ouy@uiy.com</td>

    </div>