body 
{
background:rgb(200, 232, 241) !important;
font-family: 'Courgette', cursive !important;
background-image: url("https://previews.123rf.com/images/volody10/volody101901/volody10190100268/116355849-scattered-white-pills-on-blue-table-mock-up-for-special-offers-as-advertising-web-background-or-othe.jpg")!important;

}